doctype html
html(lang='en')
  head
    title Jade
  body
    h1 Jade - node template engine
    #container.col
      form(action='/', method='POST')
        input(type='text', placeholder='Name')
        select(name='endpoints')
          option(value='pokemon') pokemon
          option(value='berry') berry
          option(value='iberry-firmness') iberry-firmness
          option(value='contest-type') contest-type
          option(value='contest-effect') contest-effect
          option(value='super-contest-effect') super-contest-effect
        input(type='text', placeholder='pokemon', name='name')
        button(type='submit') Submit
    
      