html
	head 
		title	Consumo API pokemon
	body
		for(action="/", method="POST")
			input(type="text" placeholder="http://pokeapi.co/api/v2/" disable ="true")
	p
			input(type="text" placeholder="pokemon/")
	p
			input(type="text" placeholder="name - number")
	p
			input(type="submit" name="Query")
